* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 20px;
}

#libros-lista {
    margin-bottom: 30px;
}

.libro {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.libro span {
    display: block;
    font-style: italic;
    color: #7f8c8d;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#tituloLibro {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #2980b9;
}
